[submodule "libs/adafruit-sh110x/Adafruit_SH110x"]
	path = libs/adafruit-sh110x/Adafruit_SH110x
	url = https://github.com/adafruit/Adafruit_SH110x
[submodule "libs/adafruit-gfx-library/Adafruit-GFX-Library"]
	path = libs/adafruit-gfx-library/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "arduino-compat/arduino-pico"]
	path = arduino-compat/arduino-pico
	url = https://github.com/earlephilhower/arduino-pico.git
[submodule "libs/adafruit-busio/Adafruit_BusIO"]
	path = libs/adafruit-busio/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "libs/sdfat-adafruit-fork/SdFat"]
	path = libs/sdfat-adafruit-fork/SdFat
	url = https://github.com/adafruit/SdFat
